In [1]:
import os
import sys
import numpy as np

import learning_utils
from numerical_dataset import NumericalDatasetLoader

In [2]:
dir_dataset_genes = "/home/tessa/Documents/MasterAI/PatternRecognition/Assignment2/Data/Genes"

In [3]:
genes_dataset_loader = NumericalDatasetLoader(dir_dataset_genes)

In [4]:
genes_dataset_loader.load_dataset()

dataset directory : /home/tessa/Documents/MasterAI/PatternRecognition/Assignment2/Data/Genes
files in directory: ['labels.csv', 'data.csv']

## Step 1: Data analysis

Assignment description: Describe your data, e.g., by reporting the number of rows and columns and the
number of classes. Visualize your data using any visualizing algorithm suitable for multidimensional
data in such a way that the different classes are easy to recognize. Think about how the number
or distribution of samples from each class might affect the performance of your pipeline.

In [5]:
data = genes_dataset_loader.data
labels = genes_dataset_loader.labels

In [6]:
data.head()

,gene_0,gene_1,gene_2,gene_3,gene_4,gene_5,gene_6,gene_7,gene_8,gene_9,...,gene_20521,gene_20522,gene_20523,gene_20524,gene_20525,gene_20526,gene_20527,gene_20528,gene_20529,gene_20530
sample_0,0.0,2.017209,3.265527,5.478487,10.431999,0.0,7.175175,0.591871,0.0,0.0,...,4.926711,8.210257,9.723516,7.220030,9.119813,12.003135,9.650743,8.921326,5.286759,0.0
sample_1,0.0,0.592732,1.588421,7.586157,9.623011,0.0,6.816049,0.000000,0.0,0.0,...,4.593372,7.323865,9.740931,6.256586,8.381612,12.674552,10.517059,9.397854,2.094168,0.0
sample_2,0.0,3.511759,4.327199,6.881787,9.870730,0.0,6.972130,0.452595,0.0,0.0,...,5.125213,8.127123,10.908640,5.401607,9.911597,9.045255,9.788359,10.090470,1.683023,0.0
sample_3,0.0,3.663618,4.507649,6.659068,10.196184,0.0,7.843375,0.434882,0.0,0.0,...,6.076566,8.792959,10.141520,8.942805,9.601208,11.392682,9.694814,9.684365,3.292001,0.0
sample_4,0.0,2.655741,2.821547,6.539454,9.738265,0.0,6.566967,0.360982,0.0,0.0,...,5.996032,8.891425,10.373790,7.181162,9.846910,11.922439,9.217749,9.461191,5.110372,0.0

In [7]:
labels.head()

  Unnamed: 0 Class
0   sample_0  PRAD
1   sample_1  LUAD
2   sample_2  PRAD
3   sample_3  PRAD
4   sample_4  BRCA

## Step 2: Feature selection & dimension reduction

Assignment description: Extract features from your data and/or reduce the
number of features employing and comparing two of the algorithms set in Table 2. Then, show and
explain the outcome, e.g., for feature reduction: which and how many features can be dropped from
the data without affecting the modelâ€™s performance? After comparing the results, select the best
features or the best-reduced dataset (the chosen features/datasets can be used in the subsequent
steps: you can use the same set for both classification and clustering steps).
Note: Show the number of (selected) features vs. the model accuracy in a line chart.
Hint: The bag-of-visual-words model is one of the options to simplify the SIFT features.

## Step 3: Classification

## Step 4: Clustering

## Step 5: Grid search

## Step 6: Evaluation

## Step 7: Data Augmentation

## Step 8: Ensemble